/* Start Global Style */

@font-face {
    font-family: 'Franchise';
    src: url('../fonts/graffiti.ttf');
    font-weight: bold;
    font-style: normal
}

.site {
    display: none
}

.heading {
    color: #172031;
    font-size: 27px;
    position: relative
}

.heading:after {
    background-color: #BA3A39;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 30px;
    width: 55px
}

.scroll {
    position: fixed;
    bottom: 15px;
    right: -60px;
    width: 42px;
    height: 42px;
    line-height: 21px;
    border: 2px solid #BA3A39;
    background-color: #BA3A39;
    font-size: 38px;
    z-index: 9999;
    color: #fff
}

.scroll:hover,
.scroll:active,
.scroll:visited {
    color: #fff;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #BA3A39;
}

/* End Global Style */


/* Start Navbar */

.navbar {
    background-color: #fff;
    border: 0;
    padding-top: 20px
}

.navbar li a {
    color: #172031 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-right: 5px
}

.navbar li.active a,
.navbar li a:hover {
    background-color: #fff !important;
    box-shadow: 0px 4px #BA3A39, 0px -4px #BA3A39;
}

.navbar-brand {
    margin-right: 50px;
    padding-top: 5px
}

.navbar-brand .logo {
    border-bottom: 1px solid #BA3A39;
    color: #172031;
}

.navbar-brand .span {
    border-bottom: 1px solid #BA3A39;
    color: #BA3A39;
}

.navbar-header > button {
    border-color: #BA3A39 !important;
    margin-top: 0;
}

.navbar-header > button:hover,
.navbar-header > button:focus {
    background-color: transparent !important
}

.navbar-header > button span {
    background-color: #BA3A39 !important;
}

#navbar a.search {
    color: #172031;
    margin-top: 10px;
    text-decoration: none
}

#navbar > form {
    display: none;
    margin-left: 30%;
    position: relative
}

#navbar > form button {
    position: absolute;
    top: 9px;
    right: 17px;
    background: transparent;
    border: 0
}
.carousel img {
	width: 100%
}

/* End Navbar */


/* Start Features */

.features {
    padding: 30px 0;
}

.features .feature {
    margin-top: 20px
}


/* End Features */


/* Start Portfolio */

.portfolio {
    background-color: #F4F4F4;
    padding: 30px 0;
}

.portfolio .pagination li a {
    color: #888
}

.portfolio .pagination .active a {
    background-color: #BA3A39;
    border-color: #BA3A39;
    color: #fff
}

.portfolio .project {
    height: 350px;
    margin-bottom: 30px;
    position: relative;
}

.portfolio .project img {
    height: 100%;
    width: 100%
}

.portfolio .project .overlay {
    background-color: rgba(186, 58, 57, .8);
    border-radius: 4px;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    line-height: 350px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all ease-in-out .5s;
    width: 100%
}

.portfolio .project:hover .overlay {
    display: block;
}

.portfolio .project .overlay .icon {
    background-color: #FFF;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    line-height: 43px;
    margin: 0 3px;
    width: 40px;
}

.portfolio .project .overlay .icon a {
    color: #BA3A39;
    font-size: 18px
}


/* End Portfolio */


/* Start Blog */

.blogs {
    padding: 30px 0;
}

.blogs .blog {
    background-color: #F7F7F7;
    border-bottom: 5px solid #BA3A39;
    margin-bottom: 15px;
    margin-top: 30px
}

.blogs .blog .blog-img {
    height: 100%;
    position: relative;
    width: 100%
}

.blogs .blog .blog-img .overlay {
    background-color: rgba(186, 58, 57, .8);
    border-radius: 4px;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    line-height: 200px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.2s ease-in-out 0s;
    width: 100%
}

.blogs .blog .blog-img:hover .overlay {
    display: block;
}

.blogs .blog .blog-img .overlay a {
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    margin-right: 10px;
    padding: 5px;
    text-decoration: none
}

.blogs .blog .blog-info {
    display: flex;
    flex-direction: row;
}

.blogs .blog .blog-info h4 {
    color: #BA3A39;
    font-size: 11px;
    margin-right: 7px
}

.blogs .blog .blog-info h4 span {
    color: #7C7C7C;
    margin-right: 5px;
}

.blogs .blog h3 {
    color: #474D59;
    font-size: 22px;
    margin: 7px 10px;
}

.blogs .blog p {
    color: #8A8A8A;
    line-height: 1.6;
    margin: 10px;
    text-align: justify;
}


/* End Blog */


/* Start Contact */

.contact {
    background-image: url(../images/contact-bg.jpg);
    background-size: cover;
    min-height: 600px;
    padding: 50px 0;
    position: relative
}

.contact .overlay {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 4px;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%
}

.contact h2 {
    color: #fff;
    margin-top: 50px;
}

.contact input[placeholder] {
    background: none;
    border: 1px solid #BA3A39;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    width: 100%;
}

.contact textarea {
    background: none;
    border-color: #BA3A39;
    border-radius: 5px;
    color: #fff;
    height: 300px;
    margin-top: 15px;
    padding: 10px;
    resize: none;
    width: 100%;
}

.contact input[value] {
    background-color: #BA3A39;
    border: 0;
    color: #fff;
    margin-top: 10px;
    padding: 10px
}


/* End Contact */


/* Start Footer */

footer {
    background-color: #000;
    padding: 20px 0
}

footer h2 {
    color: #fff;
    font-size: 18px
}

footer h2 span {
    color: #BA3A39
}

footer ul {
    list-style: none;
    margin: 20px 0 10px;
    width: 100%
}

footer ul li {
    display: inline-block
}

footer ul li a {
    color: #BA3A39
}

footer ul li a:hover {
    color: #fff
}


/* End Footer */


/* Start About Page */

.main {
    text-align: center
}
.main .welcome-message{
    font-family: 'Franchise';
    color: #275A0C;
    display: inline-block

}
.main .welcome-message:hover{
    text-shadow: 1px 1px 0 #077F00;
}
.main ul{

    list-style: none
}
.main ul li{
    display: inline-block;
}
.main .learn{
    padding: 20px 0;
    
}
/* End About Page */