/* Start Global */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

body {
    background-color: #eae9e9;
    font-family: "Open Sans"
}

a {
    color: #fff;
    font-size: 1em;
    text-decoration: none
}

.clear {
    clear: both
}

::-webkit-input-placeholder {
    color: #f4b4bc;
}

::-moz-placeholder {
    color: #f4b4bc;
    opacity: 1
}

.container {
    float: left;
    margin-bottom: 30px;
    width: 100%
}


/* End Global */


/* Start Header */

header {
    background-color: #d8495a;
    height: 60px;
    left: 0;
    line-height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2
}

header .logo {
    float: left;
    width: 60%
}

header .logo a {
    font-size: 2em;
    margin-left: 75px
}

header .logo a span {
    margin: 0 20px
}

header .user {
    float: right;
    width: 40%;
}

header .user .header-f {
    float: left;
    width: 70%
}

header .user .header-f form {
    position: relative
}

.header-f input[type="search"] {
    background-color: #bd3b4a;
    border: 0;
    border-radius: 5px;
    color: #f4b4bc;
    padding: 10px;
    width: 80%
}

.header-f button {
    background: 0;
    border: 0;
    color: #f4b4bc;
    position: absolute;
    right: 60px;
    top: 0;
}

.header-f button:focus,
.header-f input[type="search"]:focus {
    outline: none;
}

header .user .options {
    float: right;
    position: relative;
    width: 30%
}

header .user .options .option {
    float: left;
    width: 33.33333%
}

header .user .options .option span {
    background: #fff;
    border-radius: 50%;
    color: #bd3b4a;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-left: -15px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 20px;
}


/* End Header */


/* Start Navbar */

nav {
    background-color: #c53b4b;
    float: left;
    height: 2000px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 60px;
    z-index: 2;
}

nav a {
    border-bottom: 1px solid #d37b85;
    display: inline-block;
    font-size: 1.7em;
    height: 60px;
    line-height: 60px;
    width: 100%
}


/* End Navbar */


/* Start Stats Section */

.main {
    margin: 90px 30px 30px 90px;
}

.Stats {
    background: #fff;
    border-radius: 5px;
    float: left;
    margin-right: 1%;
    width: 69%;
}

.Stats .header {
    border-bottom: 1px solid #eee;
    height: 50px;
    line-height: 50px;
}

.Stats .header h3 {
    float: left;
    margin: 0 0 0 5%;
}

.Stats .header a {
    color: #404040;
    float: right;
    margin: 0 5% 0 0;
}

.Stats .body {
    height: 350px;
    padding: 0 0 30px;
}

.user-cart {
    background: #fff;
    border-radius: 5px;
    float: right;
    margin-left: 1%;
    text-align: center;
    width: 29%
}

.user-cart .user-image {
    margin: 30px auto 10px;
}

.user-cart .user-image img {
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #fff, 0 0 0 7px #dbdbdb;
    height: 100px;
    width: 100px;
}

.user-cart h2 {
    font-size: 22px;
    margin-bottom: 10px
}

.user-cart h3 {
    color: #d8495a;
    font-size: 14px;
    margin-top: 10px
}

.user-cart p {
    color: #9c9c9c;
    font-size: 13px;
    line-height: 1.6
}

.user-cart .user-links {
    margin: 15px 0
}

.user-cart .user-links a {
    color: #6d6d6d;
    margin-right: 10px
}

.user-cart button {
    background-color: #d8495a;
    border: 0;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px 20px
}


/* End Stats Section */


/* Start circle Section */

.circle {
    background-color: #fff;
    border-radius: 5px;
    float: left;
    text-align: center;
    width: 23.5%;
}

.circle:nth-child(1) {
    margin-right: 1%
}

.circle:nth-child(2),
.circle:nth-child(3) {
    margin-left: 1%;
    margin-right: 1%
}

.circle:nth-child(4) {
    margin-left: 1%
}

.circle .circle-percent {
    float: left;
    margin-left: 2%;
    position: relative;
    width: 38%
}

.circle .circle-percent canvas {
    margin-top: 10px
}

.circle .circle-percent span {
    color: #404040;
    font-size: 14px;
    left: 33%;
    position: absolute;
    top: 35%;
    transform: matrix( 1.23959827833572, 0, 0, 1.24256951102589, 0, 0)
}

.circle .circle-info {
    float: right;
    margin-right: 2%;
    width: 58%
}

.circle .circle-info h3 {
    color: #404040;
    font-size: 14px
}

.circle .circle-info span {
    color: #404040;
    font-size: 36px
}


/* End circle Section */


/* Start Currency Section */

.currency {
    background-color: #fff;
    border-radius: 5px;
    float: left;
    margin-right: 1%;
    text-align: center;
    width: 49%
}

.currency .header {
    border-bottom: 1px solid #eee;
    height: 50px;
    line-height: 50px;
}

.currency .header h3 {
    float: left;
    font-size: 20px;
    margin: 0 0 0 5%
}

.currency .header a {
    color: #404040;
    float: right;
    margin: 0 5% 0 0;
}

.currency .body {
    color: #5c5c5c;
    font-size: 14px;
    padding: 0 0 30px;
    text-align: center
}

.currency .body table {
    width: 100%
}

.currency .body table tr {
    border-bottom: 1px solid #eee;
    height: 50px
}

.currency .body table tr td {
    color: #8d8d8d;
    width: 25%
}

.currency .body table tr td .up {
    color: #1add00
}

.currency .body table tr td .down {
    color: #dd2a00
}


/* End Currency Section */


/* Start Progress Section  */

.progress {
    background-color: #fff;
    border-radius: 5px;
    float: right;
    margin-left: 1%;
    text-align: center;
    width: 49%
}

.progress .header {
    border-bottom: 1px solid #eee;
    height: 50px;
    line-height: 50px;
}

.progress .header h3 {
    float: left;
    font-size: 20px;
    margin: 0 0 0 5%;
}

.progress .header a {
    color: #404040;
    float: right;
    margin: 0 5% 0 0
}

.progress .body {
    padding: 0 0 30px;
}

.progress .body .prog {
    float: left;
    margin: 0 0 0 5%;
    text-align: left;
    width: 95%
}

.progress .body .prog:nth-child(3) {
    margin-bottom: 20px;
}

.progress .body .prog h3 {
    font-size: 14px
}

.progress .body .prog div {
    background-image: -moz-linear-gradient( 90deg, rgba(155, 155, 155, .3) 0%, rgba(215, 215, 215, .3) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(155, 155, 155, .3) 0%, rgba(215, 215, 215, .3) 100%);
    background-image: linear-gradient( 90deg, rgba(155, 155, 155, .3) 0%, rgba(215, 215, 215, .3) 100%);
    border: 1px solid rgba( 164, 161, 162, .3);
    border-radius: 20px;
    box-shadow: 0px 1px 0px 0px rgb( 255, 255, 255);
    height: 30px;
    width: 95%
}

.progress .body .prog div span {
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    height: 30px;
    padding: 4px;
    text-align: center;
}

.progress .body .prog:nth-child(1) div span {
    background-color: #3ec5e8;
    width: 75%
}

.progress .body .prog:nth-child(2) div span {
    background-color: #72db15;
    width: 50%
}

.progress .body .prog:nth-child(3) div span {
    background-color: #ffa200;
    width: 65%
}


/* End  Progress Section */


/* Start Chat Section */

.chat {
    background: #fff;
    border-radius: 5px;
    float: left;
    margin-right: 1%;
    width: 29%
}

.chat .header {
    border-bottom: 1px solid #eee;
    height: 50px;
    line-height: 50px;
}

.chat .header h3 {
    float: left;
    margin: 0 0 0 5%;
}

.chat .header a {
    color: #404040;
    float: right;
    margin: 0 5% 0 0;
}

.chat .body {
    padding: 0 0 30px;
}

.chat .body .message {
    margin: 0 5% 0;
    margin-top: 25px;
    width: 90%;
}

.chat .body .message .msg-body {
    background-color: #92c663;
    border-radius: 7px;
    color: #fff;
    font-size: 14px;
    line-height: 1.714;
    padding: 3px 0;
    padding-left: 10px;
    position: relative
}

.chat .body .message:nth-of-type(odd) .msg-body:before {
    border: 10px solid transparent;
    border-right: 10px solid #92c663;
    content: "";
    height: 0;
    left: -20px;
    position: absolute;
    top: 20px;
    width: 0;
}

.chat .body .message .msg-date h4 {
    color: #a5a6bb;
    font-family: "Segoe UI";
    font-size: 14px;
    margin-top: 5px
}

.chat .body .message:nth-of-type(even) .msg-body {
    background-color: #f4f4f4;
    color: #535353
}

.chat .body .message:nth-of-type(even) .msg-body:before {
    border: 10px solid transparent;
    border-left: 10px solid #f4f4f4;
    content: "";
    height: 0;
    position: absolute;
    right: -20px;
    top: 20px;
    width: 0;
}

.chat .body .message:nth-of-type(even) .msg-date {
    text-align: right
}


/* End Chat Section */


/* Start Activity Section */

.activity {
    background: #fff;
    border-radius: 5px;
    float: right;
    margin-left: 1%;
    width: 69%;
}

.activity .header {
    border-bottom: 1px solid #eee;
    height: 50px;
    line-height: 50px;
}

.activity .header h3 {
    float: left;
    margin: 0 0 0 5%;
}

.activity .header a {
    color: #404040;
    float: right;
    margin: 0 5% 0 0;
}

.activity .body {
    padding: 0 0 30px;
}

.activity .body table {
    margin: 0 2%;
    width: 94%
}

.activity .body table thead {
    font-weight: bold;
}

.activity .body table tr {
    border-bottom: 1px solid #e2e2e2;
    height: 60px
}

.activity .body table tr td {
    padding: 5px;
}

.activity .body table tr:nth-child(even) {
    background-color: #f9f9f9
}


/* End Activity Section */


/* Start Overview Section */

.overview {
    background-color: #fff;
    border-radius: 5px;
    float: left;
    margin-right: 1%;
    text-align: center;
    width: 49%;
}

.overview .header {
    border-bottom: 1px solid #eee;
    height: 50px;
    line-height: 50px
}

.overview .header h3 {
    float: left;
    font-size: 20px;
    margin: 0 0 0 5%
}

.overview .header a {
    color: #404040;
    float: right;
    margin: 0 5% 0 0;
}

.overview .body {
    color: #5c5c5c;
    font-size: 14px;
    padding: 0 0 30px;
    text-align: center;
}

.overview .body .pie-chart {
    position: relative;
    width: 50%;
    float: left
}

.overview .body .pie-chart h3 {
    color: #303030;
    font-size: 48px;
    left: 80px;
    position: absolute;
    top: 60px;
}

.overview .body .pie-chart span {
    color: #979797;
    font-size: 24px;
    left: 77px;
    position: absolute;
    top: 170px;
}

.overview .body .pie-info {
    padding: 0 20px;
    width: 50%;
    float: left
}

.overview .body .pie-info h3 {
    font-size: 18px;
    color: #333333
}

.overview .body .pie-info p {
    font-size: 13px;
    color: #5c5c5c
}

.overview .body .pie-info ul {
    list-style: none
}

.overview .body .pie-info ul li {
    color: #5c5c5c;
    font-size: 14px;
    margin-bottom: 5px;
    position: relative;
    text-align: left
}

.overview .body .pie-info ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    height: 15px;
    width: 15px;
    border-radius: 5px;
    background-color: #3bc2e5;
}

.overview .body .pie-info ul li:nth-child(2):before {
    background-color: #ffdf7d
}

.overview .body .pie-info ul li:nth-child(3):before {
    background-color: #ff9dc0
}

.overview .body .pie-info ul li:nth-child(4):before {
    background-color: #75de18
}

.overview .body .pie-info ul li:nth-child(5):before {
    background-color: #e83e3c
}


/* End Overview Section */


/* Start News  Section */

.news {
    background-color: #fff;
    border-radius: 5px;
    float: left;
    text-align: center;
    margin-right: 1%;
    width: 49%;
    padding-bottom: 20px
}

.news .header {
    border-bottom: 1px solid #eee;
    height: 50px;
    line-height: 50px;
}

.news .header h3 {
    float: left;
    margin: 0 0 0 5%;
    font-size: 20px;
}

.news .header a {
    color: #404040;
    float: right;
    margin: 0 5% 0 0;
}

.news .body {
    font-size: 14px;
    color: #5c5c5c;
    text-align: center;
    padding: 0 0 30px;
    padding: 10px
}

.news .body .item {
    width: 100%;
    float: left;
    padding: 10px 0
}

.news .body .item img {
    border-radius: 50%;
    float: left;
    margin-right: 5px;
    width: 20%;
}

.news .body .item h3 {
    font-size: 14px;
    color: #000
}

.news .body .item p {
    color: #5c5c5c;
    font-size: 12px;
    line-height: 1.5
}

.left {
    background-color: #d8495a;
    border-radius: 5px;
    float: left;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    margin: 5px 0;
    width: 22px
}

.right {
    background-color: #d8495a;
    border-radius: 5px;
    float: right;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    margin: 5px 0;
    width: 22px
}


/* End News  Section */


/* Start Calender  Section */

.calender {
    background: #fff;
    border-radius: 5px;
    float: left;
    margin-right: 1%;
    width: 69%
}

.calender .header {
    border-bottom: 1px solid #eee;
    height: 50px;
    line-height: 50px
}

.calender .header h3 {
    float: left;
    margin: 0 0 0 5%
}

.calender .header a {
    color: #404040;
    float: right;
    margin: 0 5% 0 0
}

.calender .body {
    height: 500px;
    padding: 25px
}

.calender .body .cal {
    width: 70%;
    float: left;
    text-align: center
}

.calender .body .cal caption {
    font-size: 24px;
    color: #29292a;
    font-weight: bold;
    margin-bottom: 30px
}

.calender .body .cal caption a {
    padding: 0 10px;
    color: #d8495a;
    font-size: 18px
}

.calender .body .cal caption .prev {
    float: left
}

.calender .body .cal caption .next {
    float: right
}

.calender .body .cal thead {
    font-size: 22px;
    color: #484848
}

.calender .body table tr td {
    height: 30px;
    width: 30px
}

.calender .body table tr td a {
    color: #3e454c;
    font-size: 16px;
    padding: 5px
}

.calender .body table tr td.active a,
.calender .body table tr td a:hover {
    color: #fff;
    background-color: #d8495a;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
    line-height: 30px;
    padding: 0
}

.calender .body .events {
    width: 30%;
    float: left;
    background-color: #e7e7e7;
    padding: 30px 20px;
    text-align: center;
    height: 95%
}

.calender .body .events h3 {
    font-size: 15px;
    color: #7d7d7d;
    border-bottom: 3px solid #d5d5d5;
    text-align: left;
    padding: 10px 0
}

.calender .body .events h3.title {
    font-size: 16px;
    color: #d8495a;
    display: inline-block;
    border-color: #d8495a
}

.calender .body .events .links {
    margin-top: 40px;
    text-align: left
}

.calender .body .events a {
    padding: 5px 10px;
    border-radius: 5px
}

.calender .body .events a.edit {
    background-color: #74cc26
}

.calender .body .events a.add {
    background-color: #d8495a
}

.calender .body a.see {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #74cc26
}

.calender .body a.set {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #d8495a
}


/* End Calender Section */


/* Start Contact  Section */

.contact {
    background: #fff;
    border-radius: 5px;
    float: right;
    margin-left: 1%;
    text-align: center;
    width: 29%
}

.contact .header {
    border-bottom: 1px solid #eee;
    height: 50px;
    line-height: 50px
}

.contact .header h3 {
    float: left;
    margin: 0 0 0 5%
}

.contact .header a {
    color: #404040;
    float: right;
    margin: 0 5% 0 0
}

.contact .body {
    height: 500px;
    padding: 0 20px;
    padding-bottom: 30px;
    text-align: left
}

.contact .body form label {
    color: #000;
    display: inline-block;
    font-size: 14px;
    margin: 20px 0 5px 0;
    width: 100%
}

input,
textarea,
select {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    width: 100%
}

.contact .body form input {
    color: #000;
    font-size: 14px
}

.contact .body form textarea {
    height: 100px;
    margin-bottom: 20px;
    resize: none
}

.contact .body form input[type=submit] {
    background-color: #d8495a;
    color: #fff;
    float: right;
    width: 30%
}


/* End Contact  Section */