/* Global Css */

* {
    font-family: "Droid Arabic Naskh";
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.clear-fix {
    clear: both;
}

header {
    background-image: url("../images/Header cover.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff
}

header .nav {
    float: left;
    color: #fff;
    font-size: 30px;
    margin: 50px 10px 0px 50px;
}

header ul {
    border-radius: 5px;
    margin: 59px 0 14px;
    padding: 2px;
    float: left;
    display: none;
}

header ul li {
    float: left;
    list-style: outside none none;
    margin-right: 20px;
    margin-left: 10px;
}

header ul li a {
    text-decoration: none;
    color: #fff
}

header ul a .fa-close {
    float: left;
    margin: -6px 10px 0px 50px;
    font-size: 30px;
    color: #fff;
}

header h1 {
    margin-top: 20%;
    font-size: 72px;
    margin-bottom: 20px;
}

header p {
    font-size: 30px;
    margin-top: 0;
}

.about {
    text-align: center;
    padding: 50px 0
}

.about h2 {
    font-size: 40px;
    color: #f4793b;
}

.about p {
    margin: 0 auto;
    width: 70%;
    direction: rtl
}

.projects {
    text-align: center;
    padding: 50px 0
}

.projects h2 {
    font-size: 40px;
    color: #f4793b;
    margin-bottom: 50px;
}

.projects .project {
    float: left;
    width: 33.33333%;
}

.projects .project img {
    width: 100%
}

.clients {
    text-align: center;
    padding: 50px 0
}

.clients h2 {
    font-size: 40px;
    color: #f4793b;
    margin-bottom: 50px;
}

.clients .client {
    float: left;
    margin-right: 14%;
    width: 14%;
}

.clients img {
    width: 100%
}

div.client:nth-child(5) {
    margin: 0
}

.testimonials {
    text-align: center;
    padding: 50px 0
}

.testimonials h2 {
    font-size: 40px;
    color: #f4793b;
    margin-bottom: 50px;
}

.testimonials .testimonial {
    float: left;
    width: 40%;
}

div.testimonial:nth-child(2) {
    margin-left: 5%;
    margin-right: 5%;
}

div.testimonial:nth-child(3) {
    margin-left: 5%;
}

.testimonials .testimonial p {
    background: #f2f2f2;
    border-radius: 5px;
    padding: 30px;
    line-height: 1.8;
    text-align: justify;
    direction: rtl;
}

.testimonials .info {
    float: right;
}

.testimonials .info img {
    width: 90px;
    border-radius: 50px;
    float: right;
}

.testimonials .info div {
    float: left;
    margin-right: 22px;
    text-align: right;
}

.testimonials .info h3 {
    color: #2a2a2a;
    font-size: 16px
}

.testimonials .info span {
    color: #2a2a2a;
    font-size: 12px
}

footer {
    text-align: center;
    padding: 0 0 50px 0
}

footer h2 {
    font-size: 40px;
    color: #f4793b;
}

footer .social a {
    float: left;
    font-size: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    width: 70px;
    height: 70px;
    margin: 8% 8% 2% 0;
    line-height: 70px
}

.social > a:nth-child(1) {
    color: #c1211d;
    border-color: #c1211d
}

.social > a:nth-child(2) {
    color: #107bf4;
    border-color: #107bf4
}

.social > a:nth-child(3) {
    color: #139deb;
    border-color: #139deb
}

.social > a:nth-child(4) {
    color: #000000;
    border-color: #000000
}

.social > a:nth-child(5) {
    color: #e13076;
    border-color: #e13076
}

.social > a:nth-child(6) {
    color: #469ae9;
    border-color: #469ae9
}

.social > a:nth-child(7) {
    margin-right: 0;
    color: #344c8a;
    border-color: #344c8a
}

footer a i {
    margin-top: 25%;
}