section.portfolio#portfolio
  .container
    h2.heading Recent Projects
    .projects-holder
      .project
        img(src="", data-src="assets/img/projects/project-1.gif", alt="Logancee Project")
        .desc
          h2 Logancee
          .info
            p
              |Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            a(href="assets/img/projects/project-1-full.gif", data-lightbox="portfolio", data-title="Flat Website") Preview
            a(href="#") Visit
      .project
        img(src="", data-src="assets/img/projects/project-2.gif", alt="Logancee Project")
        .desc
          h2 Logancee
          .info
            p
              |Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            a(href="assets/img/projects/project-2-full.gif", data-lightbox="portfolio", data-title="Flat Website") Preview
            a(href="#") Visit
      .project
        img(src="", data-src="assets/img/projects/project-3.gif", alt="Logancee Project")
        .desc
          h2 Logancee
          .info
            p
              |Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            a(href="assets/img/projects/project-3-full.gif", data-lightbox="portfolio", data-title="Flat Website") Preview
            a(href="#") Visit
      .project
        img(src="", data-src="assets/img/projects/project-4.gif", alt="Logancee Project")
        .desc
          h2 Logancee
          .info
            p
              |Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            a(href="assets/img/projects/project-4-full.gif", data-lightbox="portfolio", data-title="Flat Website") Preview
            a(href="#") Visit
      .project
        img(src="", data-src="assets/img/projects/project-5.gif", alt="Logancee Project")
        .desc
          h2 Logancee
          .info
            p
              |Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            a(href="assets/img/projects/project-5-full.gif", data-lightbox="portfolio", data-title="Flat Website") Preview
            a(href="#") Visit
      .project
        img(src="", data-src="assets/img/projects/project-6.gif" alt="Logancee Project")
        .desc
          h2 Logancee
          .info
            p
              |Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            a(href="assets/img/projects/project-6-full.gif", data-lightbox="portfolio", data-title="Flat Website") Preview
            a(href="#") Visit
    a(href="#").all-btn See More