section.contact#contact
  .overlay
    .container
      h2.heading
        |get touch
      form(action="https://formspree.io/mostafazke@gmail.com", method="post")
        .holder
          label(for="name") Name
          input.field(type="text" name="name" id="name" required)
        .holder
          label(for="email") Email
          input.field(type="email" name="email" id="email" required)
        .holder.message
          label(for="message") Message
          textarea.field(name="git" id="message" required)
        .holder
          input(type="submit" value="SEND").stop-select
      ul.social
        li.stop-select
          a(href="https://www.facebook.com/mostafazke", target="_blank") Facebook
        li
          a(href="mailto:mostafazke@gmail.com").email-cto mostafazke@gmail.com
          a(href="tel:+21025440616").tel-cto +2 1025 440 616
        li.stop-select
          a(href="https://twitter.com/mostafazke", target="_blank") Twitter