section.about#about
  .container
      .info
        h2 Mostafa Zaki
        p I'm a front-end Developer from Cairo, Egypt. Seeking a challenging career that provides an opportunity to capitalize my technical skills & abilities in front-end web development.
        p I'm self-taught and I always try to enhance myself by learning new things & practice by making a project to apply what I have learned.
        a(href="https://drive.google.com/file/d/1cMcoUriYrxkm30CW-lqn2ufS3_LsPR3x/view", target="_blank").stop-select Download CV
      .avatar.stop-select
  .container
    ul.social.stop-select
      li
        a(href="https://github.com/mostafazke", target="_blank") Github
      li
        a(href="https://linkedin.com/in/mostafazke", target="_blank") LinkedIn
      li
        a(href="https://codepen.io/mostafazke", target="_blank") Codepen