section.about#about
  .container
      .info
        h2 Mostafa Zaki
        p I am a front-end Developer who likes his craft. I love building client-side applications that are high-performant, maintainable, and scalable.
        p I love the combination of creative and logical problem-solving skills I get to use when writing application. And I love how there's always more to learn, to optimize and enhance.
        a(href="#" Download="Mostafa-Zaki-CV.pdf") Download CV
      .avatar
  .container
    ul.social
      li
        a(href="https://github.com/mostafazke") Github
      li
        a(href="https://www.linkedin.com/in/mostafazke") LinkedIn
      li
        a(href="http://codepen.io/mostafazke") Codepen