section.about#about
  .container
      .info
        h2 Mostafa Zaki
        p I am a front-end Developer from Cairo, Egypt. I love building client-side applications that are high-performant, maintainable, and scalable.
        p I love the combination of creative and logical problem-solving skills I get to use when writing application. And I love how there's always more to learn, to optimize and enhance.
        a(href="#" Download="Mostafa-Zaki-CV.pdf").stop-select Download CV
      .avatar.stop-select
  .container
    ul.social.stop-select
      li
        a(href="https://github.com/mostafazke", target="_blank") Github
      li
        a(href="https://www.linkedin.com/in/mostafazke", target="_blank") LinkedIn
      li
        a(href="http://codepen.io/mostafazke", target="_blank") Codepen