section.portfolio#portfolio
  .container
    h2.heading Recent Projects
    .projects-holder
      .project
        img(src="" data-src="assets/img/projects/project-97.gif", alt="Weather app").stop-select
        .desc
          h2 Weather app
          .info
            p
              |Weather application.
              br
              |Html, Css, jQuery.
            a(href="assets/img/projects/project-97-full.gif", data-lightbox="portfolio", data-title="Weather").stop-select Preview
            a(href="https://codepen.io/mostafazke/full/pPJwmK/", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-96.gif", alt="B-Care").stop-select
        .desc
          h2 B-Care
          .info
            p
              |B-Care insurance broker.
              br
              |Angular, Bootstrap, Webpack.
            a(href="assets/img/projects/project-96-full.gif", data-lightbox="portfolio", data-title="B-Care").stop-select Preview
            a(href="https://www.bcare.com.sa", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-95.gif", alt="Joi").stop-select
        .desc
          h2 Joi gifts
          .info
            p
              |Joi gift site assignment.
              br
              |Pug js, SASS, gulp.
            a(href="assets/img/projects/project-95-full.gif", data-lightbox="portfolio", data-title="Joi").stop-select Preview
            a(href="https://joi-test.ml/", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-1.gif", alt="AXIT Project").stop-select
        .desc
          h2 AXIT
          .info
            p
              |MODERN AXURE TEMPLATE FOR BEAUTIFUL PROTOTYPES.
              br
              |HTML, Bootstrap, jQuery.
            a(href="assets/img/projects/project-1-full.gif", data-lightbox="portfolio", data-title="AXIT").stop-select Preview
            a(href="./projects/axit", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-2.gif", alt="Mauntains Project").stop-select
        .desc
          h2 Mauntains
          .info
            p
              |Travel Company Website.
              br
              |HTML, CSS, jQuery.
            a(href="assets/img/projects/project-2-full.gif", data-lightbox="portfolio", data-title="Mauntains").stop-select Preview
            a(href="./projects/mauntains", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-3.gif", alt="DOCTORS Project").stop-select
        .desc
          h2 DOCTORS
          .info
            p
              |doctors clinic, arabic rtl website.
              br
              |HTML, Bootstrap rtl, jQuery.
            a(href="assets/img/projects/project-3-full.gif", data-lightbox="portfolio", data-title="Doctors").stop-select Preview
            a(href="./projects/doctors", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-4.gif", alt="CLASSIC Project").stop-select
        .desc
          h2 CLASSIC
          .info
            p
              |Classic showcase portfolio template.
              br
              |HTML, CSS, jQuery.
            a(href="assets/img/projects/project-4-full.gif", data-lightbox="portfolio", data-title="CLASSIC").stop-select Preview
            a(href="./projects/classic", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-5.gif", alt="PORTFOLIO Project").stop-select
        .desc
          h2 PORTFOLIO
          .info
            p
              |One page Multilanguage Portfolio.
              br
              |HTML, CSS, jQuery.
            a(href="assets/img/projects/project-5-full.gif", data-lightbox="portfolio", data-title="PORTFOLIO").stop-select Preview
            a(href="./projects/portfolio", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-6.gif" alt="ZERO Project").stop-select
        .desc
          h2 ZERO
          .info
            p
              |Zero Dashboard.
              br
              |HTML, CSS, jQuery, charts plugins.
            a(href="assets/img/projects/project-6-full.gif", data-lightbox="portfolio", data-title="Zero").stop-select Preview
            a(href="./projects/dashboard", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-7.gif", alt="Systematic Project").stop-select
        .desc
          h2 Systematic
          .info
            p
              |Company Website Template.
              br
              |HTML, CSS.
            a(href="assets/img/projects/project-7-full.gif", data-lightbox="portfolio", data-title="Systematic").stop-select Preview
            a(href="./projects/systematic", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-8.gif", alt="TANATOS Project").stop-select
        .desc
          h2 TANATOS
          .info
            p
              |Flat website Web Design Company Portfolio.
              br
              |HTML, CSS, jQuery.
            a(href="assets/img/projects/project-8-full.gif", data-lightbox="portfolio", data-title="TANATOS").stop-select Preview
            a(href="./projects/tanatos", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-9.gif", alt="Abed MALL Project").stop-select
        .desc
          h2 Abed MALL
          .info
            p
              |Elabed Mall.
              br
              |HTML, CSS, jQuery.
            a(href="assets/img/projects/project-9-full.gif", data-lightbox="portfolio", data-title="Abed MALL").stop-select Preview
            a(href="./projects/elabedmall", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-10.gif", alt="TESTPAGE Project").stop-select
        .desc
          h2 TESTPAGE
          .info
            p
              |TESTPAGE personal website.
              br
              |HTML, CSS, jQuery.
            a(href="assets/img/projects/project-10-full.gif", data-lightbox="portfolio", data-title="TESTPAGE").stop-select Preview
            a(href="./projects/testpage", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-11.gif", alt="Notify Project").stop-select
        .desc
          h2 Notify
          .info
            p
              |Notify application showcase landing page.
              br
              |HTML, CSS.
            a(href="assets/img/projects/project-11-full.gif", data-lightbox="portfolio", data-title="Notify").stop-select Preview
            a(href="./projects/notify", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-12.gif" alt="Aditi Project").stop-select
        .desc
          h2 Aditi
          .info
            p
              |Aditi Premium Ecommerce Website.
              br
              |HTML, Bootstrab, CSS, jQuery.
            a(href="assets/img/projects/project-12-full.gif", data-lightbox="portfolio", data-title="Aditi").stop-select Preview
            a(href="./projects/aditi", target="_blank").stop-select Visit
    a(href="#").all-btn.stop-select See More