section.portfolio#portfolio
  .container
    h2.heading Recent Projects
    .projects-holder
      .project
        img(src="" data-src="assets/img/projects/project-1.gif", alt="Logancee Project").stop-select
        .desc
          h2 AXIT
          .info
            p
              |MODERN AXURE TEMPLATE FOR BEAUTIFUL PROTOTYPES
              br
              |Bootstrap, jQuery
            a(href="assets/img/projects/project-1-full.gif", data-lightbox="portfolio", data-title="Flat Website").stop-select Preview
            a(href="./projects/axit", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-2.gif", alt="Logancee Project").stop-select
        .desc
          h2 Aweb Arts
          .info
            p
              |One page multipurpose template
            a(href="assets/img/projects/project-2-full.gif", data-lightbox="portfolio", data-title="Flat Website").stop-select Preview
            a(href="#", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-3.gif", alt="Logancee Project").stop-select
        .desc
          h2 Doctors
          .info
            p
              |doctors clinic, arabic rtl website 
              br
              |Bootstrap rtl, jQuery
            a(href="assets/img/projects/project-3-full.gif", data-lightbox="portfolio", data-title="Flat Website").stop-select Preview
            a(href="#", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-4.gif", alt="Logancee Project").stop-select
        .desc
          h2 CLASSIC
          .info
            p
              |Classic showcase portfolio template.
            a(href="assets/img/projects/project-4-full.gif", data-lightbox="portfolio", data-title="Flat Website").stop-select Preview
            a(href="#", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-5.gif", alt="Logancee Project").stop-select
        .desc
          h2 CV
          .info
            p
              |Web Designer CV.
              br
              |HTML, CSS
            a(href="assets/img/projects/project-5-full.gif", data-lightbox="portfolio", data-title="Flat Website").stop-select Preview
            a(href="#", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-6.gif" alt="Logancee Project").stop-select
        .desc
          h2 Zero
          .info
            p
              |Zero Dashboard.
              br
              |HTML, CSS, jQuery, charts blugins
            a(href="assets/img/projects/project-6-full.gif", data-lightbox="portfolio", data-title="Flat Website").stop-select Preview
            a(href="#", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-7.gif", alt="Logancee Project").stop-select
        .desc
          h2 Team Website
          .info
            p
              |Team website for Team showcase.
              br
              |HTML, CSS.
            a(href="assets/img/projects/project-7-full.gif", data-lightbox="portfolio", data-title="Flat Website").stop-select Preview
            a(href="#", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-8.gif", alt="Logancee Project").stop-select
        .desc
          h2 Web Designer
          .info
            p
              |Flat website Web Designer portfolio.
              br
              |HTML, Bootstrab, CSS, jQuery.
            a(href="assets/img/projects/project-8-full.gif", data-lightbox="portfolio", data-title="Flat Website").stop-select Preview
            a(href="#", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-9.gif", alt="Logancee Project").stop-select
        .desc
          h2 Abed MALL
          .info
            p
              |Elabed Mall.
              br
              |HTML, CSS, jQuery.
            a(href="assets/img/projects/project-9-full.gif", data-lightbox="portfolio", data-title="Flat Website").stop-select Preview
            a(href="#", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-10.gif", alt="Logancee Project").stop-select
        .desc
          h2 TESTPAGE
          .info
            p
              |TESTPAGE personal website.
              br
              |HTML, CSS, jQuery.
            a(href="assets/img/projects/project-10-full.gif", data-lightbox="portfolio", data-title="Flat Website").stop-select Preview
            a(href="#", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-11.gif", alt="Logancee Project").stop-select
        .desc
          h2 Notify
          .info
            p
              |Notify application showcase landing page.
              br
              |HTML, CSS.
            a(href="assets/img/projects/project-11-full.gif", data-lightbox="portfolio", data-title="Flat Website").stop-select Preview
            a(href="#", target="_blank").stop-select Visit
      .project
        img(src="" data-src="assets/img/projects/project-12.gif" alt="Logancee Project").stop-select
        .desc
          h2 Aditi
          .info
            p
              |Aditi Premium Ecommerce Website.
              br
              |HTML, Bootstrab, CSS, jQuery.
            a(href="assets/img/projects/project-12-full.gif", data-lightbox="portfolio", data-title="Flat Website").stop-select Preview
            a(href="#", target="_blank").stop-select Visit
    a(href="#", target="_blank").all-btn.stop-select See More