/* Start Header */

header {
    padding: 25px 0 14px;
}

header .logo a {
    color: #3cc3b5;
    font-size: 32px;
    text-decoration: none
}

header .search input[type=search] {
    height: 30px;
    width: 100%
}

header .search button[type=submit] {
    background-color: transparent;
    border: 0;
    color: #ddd;
    position: absolute;
    right: 15px;
    top: 0
}

header .cart a {
    color: #3cc3b5;
    font-size: 28px;
    text-decoration: none;
}

header .cart a span {
    color: #a1a1a1
}


/* End Header */


/* Start Nav */

nav {
    background-color: #4ccfc1 !important;
}

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0 !important;
}

nav .nav li a:after {
    content: " |";
    padding-left: 12px;
}

nav .nav li:nth-child(10) a:after {
    content: "";
    padding-left: 0;
}

nav .nav li a {
    color: #fff !important;
    font-family: "BebasNeue";
    font-size: 16px;
    text-align: left
}


/* End Nav */


/* Start Carusel */

.slider {
    background-color: #3cc3b5
}

.item img {
    margin-bottom: 20px;
    margin-top: 20px
}

.carousel-text {
    left: 45%;
    margin: 50px auto;
    position: absolute;
    text-align: left;
    top: 10px;
    width: 30%
}

.carousel-text h3 {
    color: #fff;
    font-family: "BebasNeue";
    font-size: 57px;
    line-height: 0.885;
    text-align: left
}

.carousel-text p {
    color: #fff;
    font-family: "OpenSans";
    font-size: 16px;
    line-height: 1.647;
    margin-top: 20px;
    text-align: left
}

.carousel-text a {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-family: "BebasNeue";
    font-size: 18px;
    margin-top: 20px
}

.carousel-text a:hover {
    background: transparent;
    border-color: #fff
}

.carousel-indicators .active {
    background-color: #fff;
    border: 0;
    opacity: 0.5
}

.carousel-indicators li {
    background-color: #fff;
}


/* End Carusel */


/* Start Ofers */

.ofers {
    padding: 30px 0
}

.ofers .ofer {
    border-right: 1px solid #f7f7f7
}

.ofers .ofer .ofer-img {
    float: left;
    width: 50%
}

.ofers .ofer .ofer-info {
    float: left;
    margin-left: 10%;
    width: 40%
}

.ofers .ofer h3 {
    color: #AFAFAF;
    font-size: 22px;
}


/* End Ofers */


/* Start Products */

.products h2 {
    background-color: #3cc3b5;
    color: #fff;
    font-size: 25px;
    padding: 15px 0 15px 135px
}

.products .product {
    border: 3px solid #f3f3f3;
    border-bottom-color: #3cc395;
    margin-top: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center
}

.products .product h3 {
    color: #AFAFAF;
    font-size: 22px
}

.products .product span {
    color: #AFAFAF;
    font-size: 22px
}

.products .product a {
    background-color: #3cc395;
    border-color: #3cc395
}


/* End Products */


/* Start Footer */

footer {
    background-color: #3cc3b5;
    color: #fff;
    margin-top: 50px;
    padding-top: 30px;
}

footer ul {
    list-style: none;
    margin-top: 15px;
    padding: 0
}

footer ul li {
    margin-top: 5px
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff
}

footer .copyright {
    background-color: #2da89b;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
}


/* End Footer */


/* Start Media Q*/

@media (max-width: 992px) {
    nav .nav li a {
        font-size: 15px;
        padding: 5px
    }
    nav .nav li a:after {
        content: "";
        padding-left: 0;
    }
}


/* End Media Q*/