doctype
html
	head
		include ./sections/head
	body
		include ./sections/header
		include ./sections/section-about
		include ./sections/section-portfolio
		include ./sections/section-contact
		include ./sections/footer
		script(src="assets/js/scripts.js")