/* Start Global */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

* {
    -wibkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2,
h3,
h4 {
    font-weight: normal
}
.Projects .mix{
  display: none;
}
/* End Global */


/* Start Navbar */

.navbar {
    font-size: 18px;
    height: 0;
    color: #fff;
    position: relative;
    z-index: 2;
}

.navbar .brand {
    float: left;
    width: 50%;
    text-transform: uppercase;
    margin-top: 10px;
}

.navbar .links {
    float: left;
    width: 50%;
    margin-top: 25px;
}

.navbar .links li {
    display: inline-block;
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
}

.navbar .links li a {
    color: #fff;
    text-decoration: none;
}

.navbar .links .active a,
.navbar .links li a:hover {
    color: #1abc9c;
}

.navbar .links .active,
.navbar .links li:hover {
    border-bottom: 2px solid #1abc9c;
}


/* End Navbar */


/* Start Header */

.header {
    background: url('../images/header.jpg');

    background-size: cover;
    position: relative;
}

.header .bx-wrapper {
    height: 100%
}

.header .bx-wrapper .bx-viewport {
    box-shadow: none;
    border: none;
    background: none;
    height: 100% !important;
    text-align: center;
}

.header .bxslider {
    height: 100%
}

.header .bxslider li {
    display: block;
}

.header .bxslider li h2 {
    font-size: 44px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold
}

.header .bxslider li h2 span {
    color: #1abc9c
}

.header .bxslider li p {
    display: inline-block;
    width: 433px;
    color: #e8e8e8;
    font-size: 15px;
}

.header .button {
    text-align: center;
}

.header button {
    background: none;
    height: 50px;
    width: 120px;
    border: 2px solid #fff;
    margin-top: -97px;
    position: absolute;
    margin-left: -80px;
}


/* End Header */


/* Start Services */

.Services {
    padding: 80px 20px 40px
}

.Services h2 {
    margin: 0 0 50px
}

.Services .item {
    float: left;
    width: 33.33333%;
    margin-bottom: 20px
}

.Services .item i {
    color: #1abc9c;
    float: left;
    width: 20%;
    margin-right: 5%;
    margin-top: 20px;
    font-size: 5em;
}

.Services .item .info {
    float: left;
    width: 75%;
}

.Services .item .info h3 {
    color: #2d2d2d;
    margin-bottom: 10px;
}

.Services .item .info p {
    margin-top: 0;
    color: #888
}

.our-Team {
    padding: 80px 20px 40px
}

.our-Team .box {
    float: left
}

.our-Team .box:first-child {
    width: 35%
}

.our-Team .box:not(:first-child) {
    width: 15.25%;
    margin-left: 1%;
    position: relative;
    transition: all 1s ease-in-out
}

.our-Team .box:not(:first-child) span {
    opacity: none
}

.our-Team .box:not(:first-child):hover .green-overlay {
    display: block;
}

.our-Team .box:not(:first-child) img {
    width: 100%
}

.our-Team h2 {
    padding: 0 0 15px
}

.our-Team p {
    color: #888;
    line-height: 1.4;
    font-size: 14px
}


/* End Services */


/* Start Testimonials */

.Testimonials {
    background: url('../images/testimonialbg.jpg');
    position: relative;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding: 80px 0
}

.Testimonials h2 {
    margin: 80px 0 10px;
    font-size: 30px;
}

.Testimonials q {
    color: #bbb;
    line-height: 2;
    margin-top: 60px;
    display: block;
}

.Testimonials q:before,
.Testimonials q:after {
    color: #1abc9c
}

.Testimonials p {
    font-size: 20px;
    color: #1abc9c;
    margin-top: 70px
}

.Testimonials .slider > div {
    display: none
}

.Testimonials .slider .active {
    display: block
}


/* End Testimonials */


/* Start Projects */

.Projects {
    padding: 60px 0;
    height: 667px;
}

.Projects ul {
    margin-top: 50px
}

.Projects ul li {
    display: inline-block;
}
.Projects ul li a{
    color: #C0C0C0;
    padding: 10px 20px 10px 20px;
    border: 2px solid #DEDEDE;
    border-radius: 5px;
    margin-right: 5px;
    text-decoration: none
        
    
}
.Projects ul .active {
    background: #1abc9c;
    border: 2px solid #1abc9c;
    color: #fff
}

.Projects .gallery {
    margin-top: 50px;
    overflow: hidden
}

.Projects .gallery .row > div:nth-child(2) {
    margin-right: 1%;
    margin-left: 1%
}

.Projects .gallery .row > div {
    width: 32.66666%;
    height: 177px;
    float: left;
    margin-bottom: 12px;
    position: relative
}

.Projects .gallery .row > div img {
    width: 100%
}
.Projects .gallery .row > div .green-overlay h3 {
    border: 2px solid #fff;
    display: inline;
    padding: 10px;
    cursor: pointer;
    font-size: 22px
}

.Projects .gallery .row > div .heart {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    cursor: pointer;
    display: none
}

.Projects .gallery .row > div:hover .green-overlay,
.Projects .gallery .row > div:hover .heart {
    display: block;
}

.Projects .shuffle li {
    cursor: pointer
}


/* End Projects */


/* Start footer */

.footer {
    background: #232323;
    color: #6c6c6c;
    padding: 40px 0;
    overflow: hidden
}

.footer .col {
    width: 25%;
    float: left
}

.footer .col h2 {
    color: #fff;
    font-size: 18px;
    margin-top: 15px
}

.footer .col p {
    margin-bottom: 30px;
    line-height: 1.6
}

.footer .col i {
    display: inline-block;
    color: #979797;
    padding: 10px;
    border: 1px solid #979797;
    width: 36px;
    margin-right: 5px
}

.footer .tags span {
    display: inline-block;
    color: #979797;
    padding: 10px;
    border: 1px solid #979797;
    margin-right: 5px;
    margin-bottom: 10px
}

.footer .recent > div {
    overflow: hidden;
    margin-bottom: 10px
}

.footer .recent > div img {
    float: left;
    margin-right: 10px
}

.footer .recent > div h4 {
    margin: 5px 0;
    color: #ccc
}

.footer .blog h2 {
    margin: 15px 0 5px;
}

.footer .blog ul li {
    padding: 12px;
    border-bottom: 1px solid #979797;
    color: #ccc
}

.footer .copyright {
    margin-top: 40px
}


/* End footer */


/* Start My FrameWork */

.clearfix {
    clear: both
}

.heading {
    position: relative
}

.heading:after {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 40px;
    border: 2px solid #333
}

.heading-white {
    position: relative
}

.heading-white:after {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 20px;
    border: 2px solid #fff
}

.separator {
    border: 1px solid #e8e8e8;
    width: 1200px;
    margin: auto
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 1
}

.green-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 183px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: rgba(26, 188, 156, 0.61);
    display: none;
}


/* End My FrameWork */
