/* Start Media Query */

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 440px) {
    .container {
        width: 385px !important
    }
    header nav .nav_menu a {
        margin-right: 11px;
        font-size: 11px
    }
    .works .work {
        width: 100% !important
    }
    footer .rights {
        display: none;
    }
    footer .social {
        float: left;
        margin-left: 20px;
    }
}

@media (max-width: 640px) {
    .container {
        width: 445px;
    }
    header nav .logo {
        width: 37%;
        !important;
        float: none;
        !important;
        margin: 0 auto;
        !important;
        margin-bottom: 10px!important;
    }
    header nav .nav_menu {
        width: 100%;
        !important;
    }
    header nav .nav-btn {
        display: none!important;
    }
    header .info h1 {
        font-size: 39px;
    }
    header .info p {
        width: 92%;
        font-size: 20px;
    }
    header .info .header-btn {
        width: 50%;
    }
    .about .about-imgs {
        display: none;
    }
    .about .about-info {
        width: 100%;
        text-align: center;
    }
    .about .about-info p {
        padding: 0px 20px;
        width: auto;
    }
    .about .about-info h3:before {
        left: 165px;
    }
    .about .about-info .more-btn {
        width: 100%;
        padding: 20px 25px;
    }
    .about .about-info .more-btn a {
        font-size: 18px;
    }
    .our-journal .jour {
        width: 50%;
        height: 415px;
        margin-bottom: 20px
    }
    .jour-info:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        top: 25px;
        left: -15px;
        border-style: solid;
        border-color: transparent #FFF;
        border-width: 15px 15px 15px 0px;
        z-index: 1;
    }
    .jour-info-3,
    .jour-img-3 {
        margin-bottom: 0 !important;
    }
    .offer {
        text-align: center;
    }
    .offer h2:before {
        left: 155px;
    }
    .offer p {
        width: 95%;
    }
    .offer form {
        width: 100%;
    }
    .offer form input {
        width: 47%;
    }
    .offer form input[type="submit"] {
        width: 100%;
    }
    .works .work {
        width: 50%;
        margin-bottom: 15px;
    }
    .travil .price {
        width: 49%;
    }
    div.price:nth-child(6) {
        float: none;
        margin: auto
    }
    .gallery .gal {
        margin: 5px !important;
        width: 47% !important;
        height: 283px !important;
    }
    .gallery .gal img {
        width: 100%;
        height: 100%;
    }
    .clients {
        padding: 50px 0px !important;
    }
    .clients .client {
        float: left;
        width: 33%;
        margin-bottom: 20px;
    }
    .testimonials .author .author-img {
        margin-right: 40px;
    }
    .contact .form {
        width: 100%;
    }
    footer .rights {
        margin-right: 14px;
    }
    footer .social {
        width: 42%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    header nav .logo {
        margin-right: 8%;
    }
    header nav .nav-btn {
        width: 16%;
    }
    .about .about-info {
        width: 70%;
    }
    .about .about-imgs .img2 {
        top: 45%;
        right: 30%;
    }
    .works .work .circle {
        width: 160px;
        height: 160px;
    }
    .works .work .circle .shape {
        height: 38%;
        width: 72%;
    }
    .travil .price .price-info h3 {
        margin-top: 42%;
        font-size: 25px;
    }
    .travil .price .price-info p {
        font-size: 15px;
        line-height: normal;
    }
    .travil .price .price-info span.left {
        left: 10px;
        font-size: 15px;
    }
    .travil .price .price-info span.right {
        right: 10px;
        font-size: 20px;
    }
    .gallery .w3 {
        width: 23%;
    }
    .gallery .h4 {
        height: 340px;
    }
    .gallery .h3 {
        height: 240px;
    }
    .gallery .gal {
        margin-bottom: -100px;
    }
    footer .social {
        width: 15%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    footer .social {
        width: 15%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    footer .social {
        width: 10%;
    }
}


/* End Media Query */


/* End Media Query */