/* Start Global */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 14px;
}

.waveLine {
    position: relative
}

h2 {
    font-size: 30px;
    font-family: "OpenSans";
    color: #2C2E37;
    font-weight: bold;
    text-transform: uppercase;
}

.waveLine:before {
    position: absolute;
    content: "";
    background-image: url(../images/waveLine.png);
    top: -26px;
    left: 20px;
    width: 81px;
    height: 7px
}

.line-throgh {
    text-decoration: line-through
}


/* End Global */


/* Start Header */

header {
    position: relative;
    background-image: url(../images/header.gif);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    overflow: hidden
}

nav {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px 0;
}

nav .container {
    margin-top: -11px
}

header nav .logo {
    width: 15%;
    margin-right: 12%;
    float: left
}

header nav .nav_menu {
    width: 60%;
    margin-right: 3%;
    float: left;
}

header nav .nav_menu a {
    margin-right: 20px;
    font-size: 12px;
    font-family: "OpenSans";
    color: #9daeb6;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
}

header nav .nav_menu a:hover {
    border-bottom-color: #36aeea
}

header nav .nav-btn {
    float: right;
    width: 12%;
    text-align: center;
    padding: 5px 20px;
    margin-top: -25px;
    border: 2px solid #36aeea
}

header nav .nav-btn a {
    font-size: 12px;
    font-family: "OpenSans";
    color: #36aeea;
    font-weight: bold;
    text-transform: uppercase;
}

header .info {
    padding: 40px 0;
    margin: 40px 0;
    border: 2px solid #fff
}

header .info h1 {
    margin: 0;
    font-size: 50px;
    font-family: "OpenSans";
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

header .info h1 span {
    color: #36aeea;
    display: block;
}

header .info p {
    width: 53%;
    font-size: 18px;
    font-family: "OpenSans";
    color: rgba( 255, 255, 255, 0.749);
    line-height: 1.611;
}

header .info .header-btn {
    background: #36aeea;
    width: 20%;
    padding: 15px 25px;
    text-align: center;
}

header .info .header-btn a {
    color: #fff
}


/* End Header */


/* Start About Section */

.about {
    background-image: url(../images/blogbg.gif);
    background-color: #f6f4f4;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 50px 0;
    position: relative;
    overflow: hidden
}

.about .about-info {
    float: left;
    padding: 100px 0;
    width: 50%;
}

.about .about-info h3 {
    font-size: 23px;
    font-family: "OpenSans";
    color: #2C2E37;
    font-weight: bold;
    text-transform: uppercase
}

.about .about-info p {
    font-size: 14px;
    font-family: "OpenSans";
    color: #949494;
    line-height: 1.857;
    width: 70%;
}

.about .about-info .more-btn {
    background: #36aeea;
    width: 25%;
    padding: 10px 25px;
    text-align: center;
}

.about .about-info .more-btn a {
    color: #fff
}

.about .about-imgs {
    float: left;
    width: 50%;
}

.about .about-imgs .img1 {
    position: absolute;
    top: 1%;
    right: 2%;
    width: 40%;
}

.about .about-imgs .img2 {
    position: absolute;
    top: 52%;
    right: 32%;
    width: 20%;
}


/* End About Section */


/* Start our-journal Section */

.our-journal {
    padding: 40px 0;
    text-align: center;
    overflow: hidden
}

.our-journal h2 {
    display: inline-block;
}

.our-journal h2:before {
    left: 60px;
}

.our-journal .jour-container {
    overflow: hidden;
    margin: 40px 0;
    box-shadow: 0px 0px 20px 9px #888;
}

.our-journal .jour {
    width: 33.33333%;
    height: 313px;
    float: left
}

.our-journal .jour-img {
    position: relative;
}

.our-journal .jour-img:hover img {
    opacity: 0.7
}

.our-journal .jour-img:hover .jour-ico {
    display: block
}

.our-journal .jour-img img {
    position: relative;
    width: 100%;
    height: 100%;
}

.our-journal .jour-img .jour-ico {
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 5;
    color: #fff;
    font-size: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px;
    display: none
}

.our-journal .jour-info {
    padding: 20px 10px;
    position: relative
}

.jour-info-1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 25px;
    left: -15px;
    border-style: solid;
    border-color: transparent #FFF;
    border-width: 15px 15px 15px 0px;
    z-index: 1;
}

.jour-info-2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 25px;
    right: -15px;
    border-style: solid;
    border-color: transparent #FFf;
    border-width: 15px 0px 15px 15px;
    z-index: 1;
}

.jour-info-3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -15px;
    left: 25px;
    border-style: solid;
    border-color: #FFf transparent;
    border-width: 0px 15px 15px 15px;
    z-index: 1;
}

.our-journal .jour-info .head {
    color: #36aeea;
    font-size: 11px;
    font-family: "OpenSans";
    font-weight: bold;
}

.our-journal .jour-info h3 {
    font-size: 17px;
    font-family: "OpenSans";
    color: #212121;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
}

.our-journal .jour-info p {
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb( 119, 119, 119);
    line-height: 1.629;
    text-align: center;
}

.our-journal .jour-info .count {
    font-size: 14px;
    font-family: "Times New Roman";
    color: #333;
    line-height: 1.221;
    text-align: center;
}


/* End our-journal Section */


/* Start offer Section */

.offer {
    background-image: url(../images/offer.gif);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 130px 0px;
}

.offer h2:before {
    top: -35px;
    left: 105px;
}

.offer p {
    width: 65%;
    font-size: 16px;
    font-family: "OpenSans";
    color: #949494;
    line-height: 1.625;
}

.offer form {
    background: #fff;
    width: 75%;
    margin-bottom: 10px
}

.offer form input {
    width: 33.22222%
}

.offer form input[type=text],
.offer form input[type=tel] {
    border: 0;
    padding: 15px;
}

.offer form label {
    color: #949494
}

.offer form input[type=submit] {
    width: 30%;
    background: #36aeea;
    border: 0;
    padding: 13px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-family: "OpenSans";
    font-weight: bold;
    text-align: center;
}

.offer span {
    font-size: 14px;
    font-family: "OpenSans";
    color: #36aeea;
}


/* End offer Section */


/* Start work Section */

.works {
    padding: 40px 0;
    text-align: center;
    overflow: hidden
}

.works h2 {
    display: inline-block;
    padding-bottom: 40px;
}

.works h2:before {
    left: 70px;
}

.works .work {
    width: 25%;
    float: left
}

.works .work span {
    color: #36AEEA;
    border: 1px solid #36AEEA;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    margin-bottom: 50px;
}

.works .work .circle {
    width: 210px;
    height: 210px;
    background: #f0f3f6;
    margin: auto;
    border-radius: 50%
}

.works .work .circle .shape {
    position: relative;
    top: 35%;
    margin: auto;
    height: 33%;
    width: 55%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 2px 19px 32px #888;
}

.shape:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -30px;
    left: 8px;
    border-style: solid;
    border-color: #FFF transparent;
    border-width: 0px 50px 30px;
}

.shape:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -30px;
    left: 8px;
    border-style: solid;
    border-color: #FFF transparent;
    border-width: 30px 50px 0px;
}

.works .work .circle .shape i {
    margin-top: 10px;
    font-size: 45px;
}

.works .work h3 {
    font-size: 18px;
    font-family: "Roboto";
    color: #2C2E37;
}

.works .work p {
    width: 90%;
    font-size: 16px;
    font-family: "Myriad Pro";
    color: #949494;
    line-height: 1.5;
    margin: auto;
}


/* End work Section */


/* Start travil Section */

.travil {
    padding: 40px 0;
    text-align: center;
    background-image: url(../images/worldmap-dots.gif);
    background-color: #f6f4f4;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 50px 0;
    overflow: hidden
}

.travil h2 {
    display: inline-block;
    padding-bottom: 40px;
}

.travil h2:before {
    left: 90px;
}

.travil .price {
    position: relative;
    float: left;
    width: 19%;
    margin-left: 1%
}

.travil .price img {
    border-radius: 5px;
    width: 100%
}

.travil .price .price-info {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.travil .price .price-info .stars {
    float: left;
    margin: 10px 0 0 20px;
    color: #fff
}

.travil .price .price-info h3 {
    margin-top: 63%;
    font-size: 28px;
    font-family: "OpenSans";
    color: #fff
}

.travil .price .price-info p {
    font-size: 16px;
    font-family: "OpenSans";
    color: #fff;
    line-height: 1.375;
    text-align: center;
}

.travil .price .price-info span {
    bottom: 20px;
    position: absolute;
    font-family: "OpenSans";
    color: #fff;
}

.travil .price .price-info span.left {
    left: 30px;
    font-size: 18px;
}

.travil .price .price-info span.right {
    right: 30px;
    font-size: 26px;
}


/* End travil Section */


/* Start gallery Section */

.gallery {
    text-align: center;
    overflow: hidden;
    padding: 40px 0;
}

.gallery h2 {
    display: inline-block;
    padding-bottom: 40px;
}

.gallery h2:before {
    left: 35px;
}

.gallery .gal {
    float: left;
    margin-bottom: -80px;
    margin-right: 9px
}

.gallery .gal img {
    width: 100%
}

.gallery .w3 {
    width: 24%
}

.gallery .w4 {
    width: 32.33333%
}

.gallery .w5 {
    width: 40.66666%
}

.gallery .h3 {
    height: 281px
}

.gallery .h4 {
    height: 381px
}

div.gal:nth-child(5) {
    margin-top: 5px;
}

div.gal:nth-child(6) {
    margin-top: -80px;
}


/* End gallery Section */


/* Start clients Section */

.clients {
    padding: 50px 0;
    background-color: #f8f9fa;
    overflow: hidden;
    padding-left: 100px;
}

.clients .client {
    float: left;
    width: 16.6666666%
}


/* End clients Section */


/* Start testimonials Section */

.testimonials {
    padding: 40px 0;
    text-align: center;
    overflow: hidden
}

.testimonials h2 {
    display: inline-block;
}

.testimonials h2:before {
    left: 95px;
}

.testimonials .testim {
    float: left;
    width: 50%;
    text-align: left;
}

.testimonials .testim i {
    font-size: 20px;
    color: #758697;
}

.testimonials .testim p {
    width: 95%;
    font-size: 18px;
    font-family: "OpenSans";
    color: #bcbcbc
}

.testimonials .author {
    width: 100%
}

.testimonials .author .author-img {
    float: left;
    width: 15%;
    margin-right: 22px
}

.testimonials .author .author-info {
    float: left;
    width: 66%;
}

.testimonials .testim .author-img img {
    border-radius: 50%;
}

.testimonials .testim .author-info h3 {
    font-size: 16px;
    font-family: "OpenSans";
    color: #36aeea;
    font-weight: bold;
}

.testimonials .testim h3 span {
    font-family: "Myriad Pro";
    font-weight: normal;
    font-size: 12px
}


/* End testimonials Section */


/* Start contact Section */

.contact {
    background-image: url(../images/contact.gif);
    background-size: cover;
    padding: 120px 0 75px;
    text-align: center;
    height: 600px
}

.contact .form {
    padding: 15px 0;
    width: 40%;
    margin: auto
}

.contact .form h2 {
    color: #36aeea;
}

.contact .form p {
    font-size: 17px;
    font-family: "Times New Roman";
    color: #777
}

.contact .form form input[type=text],
.contact .form form input[type=tel],
.contact .form form input[type=email],
.contact .form form input[type=submit] {
    width: 90%;
    margin-bottom: 15px;
    padding: 10px
}

.contact .form form input[type=submit] {
    background-color: #36aeea;
    color: #fff;
    border: 0;
    border-radius: 5px
}


/* End contact Section */


/* Start Footer */

footer {
    padding: 30px 0;
    background-color: #3b5057;
    text-align: center;
    color: #fff;
}

footer .rights {
    float: left;
    margin-left: 20px;
}

footer .social {
    margin: auto;
    width: 25%
}

footer .social div {
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    margin-right: 5px;
}

footer .social a {
    color: #fff;
}

footer .social .twiter {
    background-color: #29c5f6
}

footer .social .facebook {
    background-color: #6788ce
}

footer .social .vk {
    background-color: #54769a
}

footer .signator {
    float: right;
    margin-right: 20px;
}


/* End Footer */