.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
* {
    -wibkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Start Header */
.header{
    background-image: url(../img/slide.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 0;

}
.header h2{
    color:#fff;
    font-size: 60px;
    font-family: "Pacifico";
    
}
.header h2 span{
    color:#2ecc71;
}
.header p{
    color:#fff;
    font-size: 24px;
    font-family: "HelveticaNeue";
    font-weight: Medium;
    width: 450px;
}
.header ul{
    list-style: none;
    padding: 0
}
.header ul li{
    display: inline-block;
    margin-right: 20px;

}
.header ul li i{
    font-size: 32px;
    color: #f4f4f4;
    background: #030303;
    height: 60px;
width: 60px;
line-height: 60px;
text-align: center;
    border-radius: 50%;
    opacity: 0.4;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;  
}
.header ul li i:hover{
    background: #2ecc71;
    cursor: pointer;
    opacity: 1;
}
/* End Header */
/* Start features */
.features{
    padding: 50px 0;
    overflow: hidden;
}
.features .feat{
    float:left;
    width: 33.33333%;
    height:200px;
    text-align: center;
}
.features .feat span i{
    color: #fff;
    font-size: 42px;
    background: #2ecc71;
    border-radius: 50px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    line-height: 80px
}
.features .feat h2{
    color:#222;
    font-size:22px;
    font-family: "Myriad Pro";
}
.features .feat p{
    color: #848484;
    font-size:16px;
    font-family: "Myriad Pro";
    margin: 30px;
}
/* End features */
/* Start notified */
.notified{
    background: #e3e3e3;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}
.notified .form{
    float: left;
    width: 50%;
}
.notified .form h2{
    font-size: 22px;
    font-family: "Raleway";
    color: rgb( 34, 34, 34 );
    font-weight: bold;
    line-height: 0.818;
}
.notified .form p{
    font-size: 16px;
    font-family: "HelveticaNeue";
    color: #848484;
    line-height: 1.6;
}
.notified .form input[type="email"] {
    border: 1px solid #c8c8c8;
    border-radius: 15px 0 0 15px;
    width: 305px;
    padding: 20px;
    font-size: 18px;
    font-family: "Myriad Pro";
    color: #848484;
    line-height: 1;
    position: relative;
}
.notified .form input[type="submit"]{
    background-color: #2ecc71;
    width: 142px;
    border-radius: 0 15px 15px 0;
    border: 0;
    padding: 21px;
    margin-right: 26px;
    position: absolute;
    font-size: 22px;
    font-family: "Raleway";
    color: #fff;
    font-weight: bold;
    line-height: 0.818;
}
.notified .video{
    float: left;
    width: 50%;
}
/* End notified */
/* Start testimonials */
.testimonials{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.testimonials p{
    font-size: 18px;
    font-family: "HelveticaNeue";
    color: #848484;
    font-style: italic;
    line-height: 1.667;
    width: 825px;
    margin: 0 auto;
}
.testimonials h3{
    font-size: 18px;
    font-family: "Raleway";
    color: #2e2e2e;
    font-weight: bold;
}
.testimonials ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.testimonials ul li{
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;  
}
.testimonials ul li:hover{
    cursor: pointer;
    color: #2ecc71;
    background: rgba(46, 204, 113, 0.42);
	opacity: 0.8;
		
}
/* End testimonials */
/* Start touch */
.touch{
    text-align: center;
    padding-bottom: 50px;
}
.touch h2{
    font-size: 24px;
    font-family: "Raleway";
    color: #000;
    font-weight: bold;
}
.touch p{
    font-size: 16px;
    font-family: "HelveticaNeue";
    color: #848484;
    line-height: 1.625;
}
.touch ul{
    list-style: none;
}
.touch ul li{
    display: inline-block;
    margin-right: 10px;
}
.touch ul li i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #c5c5c5;
    font-size: 20px;
    color: #fff;
    opacity: 0.8;
    	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;  	
}
.touch ul li i:hover{
    cursor: pointer;
    background: #2ecc71;
    opacity: 1;
}
/* End touch */
/* Start footer */
.footer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    background: #e3e3e3;
}
.footer ul{
    list-style: none;
}
.footer ul li{
    display: inline-block;
    margin-right: 25px;
}
.footer ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: "HelveticaNeue";
    color: #848484;
}
/* End footer */
/* media query */